body
{
	background: rgb(103, 184, 28);
	text-align: center;
}

	.login_div1 , .login_div2
	{
		background-color: red;
		padding: 10px;
		float: none;
		border-radius: 15px;
		border-style:ridge;
	}


#player1_name , #player2_name
{
	display: inline-block;
	margin-left: 20px;
	color:rgb(74, 252, 4)
}
#word
{
	width: 60%;
}
#word_display
{
	letter-spacing: 5px;
}
#output
{
background: rgb(117, 81, 177);
border-radius: 10px;
border-top: 10px solid #56c781;
padding: 10px;
float: none;
text-align: left;
}
